#grid {
  display: grid;
  gap: 30px;
  height: 100px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-template-areas:
    " header header header main main "
    "header header header main main  "
    "section3 section3 footer main main"
    "section3 section3 section section section "
    "section3 section3 section section section  ";
}

#item1 {
  background-color: lime;
  grid-area: header;
}

#item2 {
  background-color: yellow;
  grid-area: main;
}

#item3 {
  background-color: blue;
  grid-area: section;
}

#item4 {
  background-color: black;
  grid-area: section3;
}

#item5 {
  background-color: red;
  grid-area: footer;
}
